<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    <form method="post" style="margin: 0, auto; width: 500px;">
        <label for="nazov">Zadajte názov: </label>
        <input id="nazov" type="text" name="nazov" placeholder="username"> <br>
        <label for="umiestnenie">Umiestnenie : </label>
        <select name="umiestnenie">
            {{#each umiestnenia}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select> <br>  
        <label for="popis">Popis : </label>
        <input id="popis" type="text" name="popis">
        <label for="kategoria">Kategória: </label>
        <select name="kategoria">
            {{#each kategorie}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select> <br>        
        {{!-- <input id="kategoria" type="text" name="kategoria"> <br> --}}
        <input type="submit" value="OK">
    </form>
</body>
</html>