<table border="1" cellspacing="0" cellpadding="10px">
    <tr padding="0">
        <td> 
            Semienka :
        </td>
        {{#each seeds}}
            <td>
                {{this.Name}} <br>
            </td>
        {{/each}}
    </tr>
    <tr>
        <td> 
            Živiny :
        </td>
            {{#each food}}
        <td>
    {{this.Name}} <br>
    </td>
    {{/each}}
    </tr>
    <tr>
    <td> 
    Dodávatelia :
    </td>
    {{#each suppliers}}
    <td>
    {{this.CompanyName}} <br>
    </td>
    {{/each}}
    </tr>
    
</table>