<html>
  <head>
    <title>Login yourself !</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  </head>
  <body>
       <form method="post">     
    <main>
   <header>
  <div class="box a"><i class="fas fa-angle-left" ></i></div>
  <div class="box b"><img class="img" src="Logo.png" /></div>
  <div class="box c"><i class="fas fa-bars"></i></div>   
</header>
    
<article class="login">
    <section style="font-size: 60pt; color: white; margin-top: 45px;"><i class="fas fa-user"></i></section>
    <section style="font-size: 21pt; color: white;">Log in</section>
    <section class="border">
        
      <i class="fas fa-user"></i> <input type="text" name="name" placeholder="Username" style="background-color: transparent; border: none;" ><br>

    </section>
    <section class="border b">

      <i class="fas fa-lock"></i> <input type="password" name="password" placeholder="Password"style="background-color: transparent; border: none;" ><br>
     
    </section>
</article>
      </main>
      <footer>
        <section class="submit">
        <input type="submit" value="Log in" style="background-color: transparent; border: none; color: white;">
        </section>
        <section>
          <a href="#" class="spodne">Forgot your password ?</a>
          </section>
          <section style="font-size: 8pt;">New collegue ? <a href="register.html" class="spodne2">Create an account</a></section>
        
    </footer>
        </form>
  </body>
</html>