<!DOCTYPE html>
<html>
  <head>
    <title>Hlavné menu</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <link rel="stylesheet" href="stylesheets/root.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      {{> header }}
      <main>
          <a href="#">
          <section>
          Pridanie<br>semena
          </section>
          </a>
          
          <a href="#">
          <section>
          Editácia<br>semena
          </section>
          </a>
          
          <a href="#">
          <section>
          Zoznam<br> 
        semien
          </section>
          </a>
          
          <a href="#">
          <section>
          Pridanie<br> živín
          </section>
          </a>
          
          <a href="#">
          <section>
          Editácia<br>živín
          </section>
          </a>
          
          <a href="#">
          <section>
          Zoznam<br>živín
          </section>
          </a>
          
          <a href="#">
          <section>
          Teplota v<br>sklade
          </section>
          </a>
          

      
      </main>
  </body>
</html>