<head>
        <link rel="stylesheet" href="../stylesheets/pridanie.css">

</head>

{{> header }}
<h1 style="color:white;">Pridanie / editovanie bolo úspešné</h1>

<button style="border: 0; color:white; background-color:black;" onclick="show()" id="button">Podrobnosti</button>
<span id="tohide" style="display:none;">Dáta: {{json}}</span>

<script>
function show() {
    var x = document.getElementById("tohide");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>